@model List<Category>

<a class="btn btn-primary" href="/EducalAdmin/Category/Create">Create Category</a>

<table class="table table-bordered table-primary">
    <thead>
          <tr>
              <th>id</th>
              <th>Category Name</th>
              <th>Description</th>
              <th>Icon</th>
               <th>#</th>
          </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>1</td>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>
                @item.CategoryIcon
            </td>
            <td>
                <a href="/EducalAdmin/Category/Edit">Edit</a> | 
                <a href="/EducalAdmin/Category/Delete">Delete</a>
            </td>

        </tr>            
        }
    </tbody>
</table>